# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & static
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Node (if used)
node_modules/